<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1>You are now logged in!</h1>
    What do you want to do now?
    <a href="/tops">Check your top tracks!</a>
</body>
</html>